.TickerLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 80px;

  margin-top: 60px;

  animation: ticker 12s linear infinite;
  will-change: transofrm;

  .LineBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 80px;

    .Partner1 {
      min-height: 80px !important;
      min-width: 250px !important;
    }

    .Partner2 {
      min-height: 80px !important;
      min-width: 250px !important;
    }

    .Partner3 {
      min-height: 80px !important;
      min-width: 362px !important;
    }

    .Partner4 {
      min-height: 80px !important;
      min-width: 96px !important;
    }
  }
}

@keyframes ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1278px);
  }
}
