.AddressSection {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  margin-top: 220px;
  padding: 0px 80px;

  @media (max-width: 750px) {
    margin-top: 40px;
    padding: 0px 10px;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    transform: translateY(100%) translateZ(0);
    width: 100%;
    height: 130px;
    background-color: #fff;
    border-radius: 0px 0px 70px 70px;
    z-index: 1;
  }

  @media (max-width: 750px) {
    padding: 30px 10px 0px;

    &::after {
      bottom: 1px;
      height: 70px;
      border-radius: 0px 0px 32px 32px;
    }
  }
}

.ShopBanner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #121212;
  border-radius: 72px;

  max-width: 1800px;
  margin: 0 auto;
  width: 100%;

  padding: 0px 52px 0px 12px;

  margin-bottom: 100px;

  @media (max-width: 750px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;

    border-radius: 32px;
    padding: 10px;

    margin-bottom: 34px;
  }
}

.ShopImageWrapper {
  margin-top: -5%;
  aspect-ratio: 1.872;

  @media (max-width: 750px) {
    display: none;
  }
}

.ShopImage {
  width: 100%;
  height: auto;
}

.ShopTitle {
  font-size: 58px;
  line-height: 58px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;

  & > span {
    color: #cbff00;
  }

  @media (max-width: 750px) {
    font-size: 42px;
    line-height: 42px;
    white-space: nowrap;

    margin-top: 18px;
  }
}

.ShopLink {
  background-color: #cbff00;
  border-radius: 26px;
  padding: 18px 60px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  color: #262626;

  margin-left: auto;

  @media (max-width: 750px) {
    font-size: 14px;
    line-height: 14px;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
}

.ShopMap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 32px;

  @media (max-width: 750px) {
    flex-direction: column-reverse;
  }

  .MapContent {
    display: flex;
    flex-direction: column;
    gap: 26px;

    .MapTitle {
      font-size: 58px;
      line-height: 58px;
      font-weight: 900;
      text-transform: uppercase;
      font-style: italic;
      color: #121212;

      @media (max-width: 750px) {
        font-size: 28px;
        line-height: 28px;
      }
    }

    .InfoBlock {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .InfoTitle {
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
        font-style: italic;
        color: #acacac;

        @media (max-width: 750px) {
          font-size: 12px;
          line-height: 12px;
        }
      }

      .InfoText {
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        font-style: italic;
        color: #171717;

        @media (max-width: 750px) {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
}

.Socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 18px;

  .SocialWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .SocialBtn {
      width: 100%;
      padding: 17px;
      border-radius: 90px;

      font-size: 18px;
      line-height: 18px;
      text-align: center;
      font-weight: 600;
      font-style: italic;
      color: #fff;

      @media (max-width: 750px) {
        font-size: 12px;
        line-height: 12px;
        padding: 12px;
      }

      &.TgBtn {
        background-color: #2aabee;
      }

      &.InstBtn {
        background-color: #fe2569;
      }
    }
  }
}

.FrameMobile {
  max-width: 100%;
  height: 280px;
  border-radius: 20px;

  @media (min-width: 751px) {
    display: none;
  }
}

.FrameDesktop {
  max-width: 100%;
  height: 600px;
  border-radius: 20px;

  @media (max-width: 750px) {
    display: none;
  }
}
