.liquidGlass {
  position: relative;
  padding: 1.5rem;
  border-radius: 100vmax;
  isolation: isolate;
  background-color: rgb(255 255 255 / 5%);
  color: rgb(255 255 255 / 100%);
  text-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  font-size: 1.25rem;
  box-shadow:
    0 6px 6px rgb(0 0 0 / 20%),
    0 0 20px rgb(0 0 0 / 10%);
  text-align: center;
  user-select: none;
  cursor: grab;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
  }

  // Glass distortion effect
  &::before {
    backdrop-filter: blur(1px);
    filter: url(#glass-distortion);
    z-index: -1;
  }

  // Outline shine
  &::after {
    box-shadow:
      inset 1px 1px 1px 0 rgb(255 255 255 / 15%),
      inset 0px 0px 1px 1px rgb(255 255 255 / 15%);
  }
}

.liquidLink {
  display: flex;
  height: fit-content;
  width: fit-content;
  padding: 4px 20px;
}
