.BurgerMenu {
  position: relative;
  border-radius: 50%;
  background-color: #202020;

  height: 44px;
  width: 44px;
  min-height: 44px;
  min-width: 44px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  @media (min-width: 1301px) {
    display: none;
  }

  &.Active {
    background-color: #ffffff;

    & .BurgerLine {
      background-color: #262626;

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-child(3) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:nth-child(2) {
        display: none;
      }
    }
  }

  .BurgerLine {
    background-color: #cbff00;
    height: 2px;
    width: 16px;
    border-radius: 1px;

    position: absolute;
    left: 50%;
    top: 50%;

    transition: transform 0.2s linear;

    &:nth-child(1) {
      transform: translate(-50%, calc(-50% - 5px));
    }
    &:nth-child(2) {
      transform: translate(-50%, -50%);
    }
    &:nth-child(3) {
      transform: translate(-50%, calc(-50% + 5px));
    }
  }
}

.BurgerDrawer {
  position: fixed;
  left: 0;
  z-index: 100;

  padding: 98px 0px 22px 0px;

  width: 100%;

  border-radius: 0px 0px 30px 30px;

  animation: slide-in 0.5s;

  background: #131313c7;
  backdrop-filter: blur(14px);
}

@keyframes slide-in {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}

.BurgerNavigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;

  li {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    color: #fff;
    font-style: italic;
  }
}

.BurgerNavDot {
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background-color: #828282;
}

.Socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  margin-top: 22px;

  & > .SocialLink {
    width: 74px;
    padding: 10px 28px;
  }
}

.OrderButton {
  position: relative;
  background-color: #cbff00;
  padding: 10px 80px 10px 20px;
  border-radius: 50px;
  height: 38px;

  max-width: 225px;

  margin: 0 auto;
  margin-top: 22px;

  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  font-style: italic;
  color: #000;

  display: flex;
  align-items: center;

  &::after {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 4px;
    top: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    content: url("/icons/arrow-right-top-small.png");
  }
}
