.CourtSection {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;

  background-color: #121212;

  padding: 200px 80px;

  @media (max-width: 750px) {
    padding: 100px 10px;

    flex-direction: column;
  }

  .Vinnete {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
    opacity: 0.1;
  }

  .TextContainer {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 750px) {
      margin-bottom: 10px;
    }

    .CourtTitle {
      font-size: 58px;
      line-height: 58px;
      font-weight: 900;
      color: #fff;
      text-transform: uppercase;
      font-style: italic;

      & > span {
        color: #cbff00;
      }

      @media (max-width: 750px) {
        font-size: 28px;
        line-height: 28px;
      }
    }

    .CourtDescription {
      font-size: 18px;
      line-height: 18px;
      font-weight: 600;
      color: #c7c7c7;
      font-style: italic;

      @media (max-width: 750px) {
        display: none;
      }
    }
  }

  .CardsContainer {
    position: relative;
    flex-basis: 66%;
    max-width: 66%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @media (max-width: 750px) {
      flex-direction: column;
      min-width: 100%;
    }

    &:has(> .CourtCard:nth-child(1):hover) {
      .CourtCard:nth-child(1) {
        flex-basis: 50%;
      }
      .CourtCard:nth-child(2) {
        flex-basis: 25%;
      }

      .CourtCard:nth-child(3) {
        flex-basis: 25%;
      }
    }

    &:has(> .CourtCard:nth-child(2):hover) {
      .CourtCard:nth-child(1) {
        flex-basis: 25%;
      }
      .CourtCard:nth-child(2) {
        flex-basis: 50%;
      }

      .CourtCard:nth-child(3) {
        flex-basis: 25%;
      }
    }

    &:has(> .CourtCard:nth-child(3):hover) {
      .CourtCard:nth-child(1) {
        flex-basis: 25%;
      }
      .CourtCard:nth-child(2) {
        flex-basis: 25%;
      }

      .CourtCard:nth-child(3) {
        flex-basis: 50%;
      }
    }

    .CourtCard {
      position: relative;
      flex: 1;
      height: 100%;
      padding: 16px;
      border-radius: 26px;
      overflow: hidden;

      flex-basis: 33%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      transition: flex-basis 0.2s linear;

      height: 600px;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 45%;

        background: linear-gradient(to top, #111111cc 0%, #11111100 100%);
        content: "";
      }

      @media (max-width: 750px) {
        aspect-ratio: 1;
      }

      .CourtImage {
        height: 100%;
        width: auto;
      }

      .CourtInfo {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;

        z-index: 1;

        .CourtTitle {
          font-size: 24px;
          line-height: 24px;
          font-weight: 900;
          color: #cbff00;
          text-transform: uppercase;
          font-style: italic;
        }

        .CourtDesc {
          font-size: 14px;
          line-height: 14px;
          font-weight: 600;
          color: #dddddd;
          font-style: italic;
        }
      }
    }
  }
}
