.Video {
  position: relative;
  overflow: hidden;
  border-radius: 20px;

  margin-top: 56px;
  margin-bottom: 60px;

  z-index: 1;

  &.StatePlaying {
    &:hover .VideoPlayBtn {
      opacity: 0.7;
    }
  }
}

.VideoPlayBtn {
  position: absolute;
  height: 76px;
  width: 76px;
  border-radius: 50%;
  background-color: #cbff00;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
  transition: opacity 0.1s linear;

  &:hover {
    cursor: pointer;
  }

  &.Playing {
    opacity: 0;
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;

  .PauseLine {
    width: 6px;
    height: 30px;
    border-radius: 3px;
    background-color: #000000;
  }
}
