.Footer {
  position: relative;
  background-color: #ffffff;
  border-radius: 70px 70px 0px 0px;

  padding: 38px 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  margin-top: -70px;

  @media (max-width: 750px) {
    border-radius: 32px 32px 0px 0px;
    padding: 16px 10px 0px;
    margin-top: -32px;
    gap: 0px;
  }

  .FooterTopLine {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media (max-width: 750px) {
      flex-direction: column;
      margin-bottom: 32px;
    }

    .Nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 29px;

      @media (max-width: 750px) {
        flex-direction: column;
        gap: 22px;
      }

      .NavDot {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #cccccc;
      }

      .NavLink {
        font-size: 22px;
        line-height: 22px;
        font-weight: 700;
        font-style: italic;
        color: #121212;
      }
    }
  }

  .FooterLogo {
    position: absolute;
    left: 80px;
    top: 38px;

    @media (max-width: 750px) {
      left: 0;
      top: 0;
      position: relative;
    }
  }

  .FooterBannerLine {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;

    @media (max-width: 750px) {
      flex-direction: column;
    }

    .Banner1Wrapper {
      position: relative;
      background-color: #121212;
      border-radius: 56px;
      padding: 43px;
      flex: 1;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;

      @media (max-width: 750px) {
        flex-direction: column;
        padding: 20px;

        border-radius: 32px;
      }

      .BannerMask1 {
        position: absolute;
        right: 0;
        height: 100%;
        width: auto;
      }

      .BannerLeft {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 26px;
        flex: 1;
        z-index: 1;

        @media (max-width: 750px) {
          width: 100%;
          margin-bottom: 26px;
        }

        .LeftContent {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 3px;

          .Title {
            font-size: 18px;
            line-height: 18px;
            font-weight: 600;
            text-align: center;
            font-style: italic;
            color: #cbff00;

            @media (max-width: 750px) {
              font-size: 12px;
              line-height: 12px;
            }
          }

          .Desc {
            font-size: 20px;
            line-height: 20px;
            font-weight: 600;
            text-align: center;
            font-style: italic;
            text-align: start;
            color: #fff;

            @media (max-width: 750px) {
              font-size: 16px;
              line-height: 16px;
            }
          }
        }
      }
    }

    .BannerRight {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      height: 100%;
      flex: 1;
      z-index: 1;

      @media (max-width: 750px) {
        width: 100%;
      }

      .BtnsWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;

        @media (max-width: 750px) {
          flex-direction: column;
          width: 100%;
          gap: 8px;
        }

        .Btn {
          flex: 1;
          padding: 16px;

          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          gap: 8px;
          border-radius: 100px;

          font-size: 18px;
          line-height: 18px;
          font-weight: 600;
          color: #fff;
          font-style: italic;

          @media (max-width: 750px) {
            width: 100%;
            padding: 12px;
          }

          &.InstBtn {
            background-color: #fe2569;
          }

          &.TgBtn {
            background-color: #2aabee;
          }
        }
      }
    }

    .Banner2Wrapper {
      position: relative;
      background-color: #121212;
      border-radius: 56px;
      padding: 43px;
      overflow: hidden;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      flex: 1;

      @media (max-width: 750px) {
        flex-direction: column;
        padding: 55px 20px 20px;
        border-radius: 32px;
      }

      &::after {
        position: absolute;
        left: 0;
        top: 0;
        width: 70%;
        height: 100%;
        background: linear-gradient(to right, #060b11 0%, #060b1100 100%);
        content: "";
      }

      .Mask {
        position: absolute;
        object-position: center center;
      }

      .BannerLeft {
        position: relative;
        flex: 1;
        z-index: 1;

        @media (max-width: 750px) {
          width: 100%;
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;

        .Title {
          font-size: 32px;
          line-height: 32px;
          font-weight: 900;
          text-transform: uppercase;
          font-style: italic;
          color: #fff;

          & span {
            color: #cbff00;
          }

          @media (max-width: 750px) {
            font-size: 24px;
            line-height: 24px;
          }
        }

        .Labels {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 8px;

          .Label {
            padding: 10px 24px 10px 12px;
            background-color: #ffffff37;
            display: flex;
            flex-direction: row;
            gap: 10px;
            border-radius: 100px;
            border: 1px solid #ffffff44;
            backdrop-filter: blur(2px);

            .InnerWrapper {
              display: flex;
              flex-wrap: nowrap;
              flex-direction: row;
              gap: 10px;
              align-items: center;
              justify-content: flex-start;
            }

            span {
              font-size: 16px;
              line-height: 16px;
              font-weight: 600;
              font-style: italic;
              color: #fff;

              @media (max-width: 750px) {
                font-size: 12px;
              }
            }
          }
        }
      }

      .BannerRight {
        position: relative;
        flex: 1;
        z-index: 1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        @media (max-width: 750px) {
          align-items: center;
          justify-content: center;
          margin-top: 50px;

          width: 100%;
        }

        .LinkBtn {
          position: relative;
          background-color: #cbff00;
          border-radius: 100px;
          height: 52px;
          padding: 15px 70px 15px 28px;

          font-size: 18px;
          line-height: 18px;
          font-weight: 600;
          font-style: italic;
          text-align: center;
          color: #262626;

          @media (max-width: 750px) {
            width: 100%;

            &::after {
              right: 4px;
              top: 4px;
            }
          }

          &::after {
            position: absolute;
            height: 40px;
            width: 40px;
            right: 6px;
            top: 6px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            content: url("/icons/arrow-right-top.png");
          }
        }
      }
    }
  }

  .FooterBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    @media (max-width: 750px) {
      flex-direction: column-reverse;
      margin-top: 16px;
      gap: 29px;
      margin-bottom: 16px;
    }

    .Left {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5px;

      p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: #000;
      }
    }

    .Right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 16px;

      @media (max-width: 750px) {
        flex-direction: column;
      }

      .Link {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        text-decoration: underline;
        color: #000;
      }
    }
  }
}
